.nextBt{
    padding:15px;
    border-radius:25px;
    font-size: 0.9rem;
    background-color: #f3ffb9;
    color:#c42021;
    border:none;
    font-weight: bold;
    
}
.Button{
    margin-top:10%;
}